body {
    color: white;
    background: black;
    text-align: center;
    padding-top: 5vh;
}


.gem {
    font-size: 3em;
    margin: 0.5em;
    background: none;
    border: none;
}

.blue {
color: cyan;
}

.purple {
color: magenta;
}

.green {
color: greenyellow;
}

.yellow {
    color: yellow;
}