@font-face {
    font-family: geomanist;
    src: url(geomanist-extralight-webfont.woff);
}

body {
    font-family: 'geomanist';
    color: white;
    background: black;
    text-align: center;
    padding-top: 5vh;
}

button:focus {
    outline: none;
}

.gem {
    border-radius: 50%;
    font-size: 2.5em;
    margin: 0%;
    background: none;
    border: none;
    height: 2em;
    width: 2em;
    border: 1px solid black;
}

.gem:hover {
    border: 1px solid white;
    transition-duration: 0.6s;
}

.blue {
    color: cyan;
}

.purple {
    color: magenta;
}

.green {
    color: greenyellow;
}

.yellow {
    color: yellow;
}

#world {
    position: fixed;
    z-index: 10;
    width: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    transition-duration: 1s;
}

.newGame {
    color: white;
    background: red;
    z-index: 11;
}